$primary-color: #213F7D;
$buttonBackground-color: #39CDCC;
$secondary-color: #39CDCC;
$border-color: #545F7D26;
$gray: #545F7D;
$font-family: 'Arial, sans-serif';

// responsiveness

// Variables for breakpoints
$breakpoint-xs: 320px;   // Extra small devices (phones)
$breakpoint-sm: 576px;   // Small devices (larger phones)
$breakpoint-md: 768px;   // Medium devices (tablets)
$breakpoint-lg: 992px;   // Large devices (desktops)
$breakpoint-xl: 1200px;  // Extra large devices (large desktops)
